.vscode/**
.vscode-test/**
src/**
.git/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
python_scripts/__pycache__/**
**/__pycache__/**
*.vsix
修改思路.md
